<div class="container">
<p id="notice"><%= notice %></p>

<h3>
  <%= @blog.blog_title %>
</h3>

<p>
  <%= simple_format(@blog.blog_text, class: 'description') %>
</p>

<p>
  <strong>Datum:</strong>
  <%= l @blog.blog_date, format: :long %>
</p>

<p>
  <strong>Link:</strong>
  <%= link_to @blog.blog_link, @blog.blog_link %>
</p>

<p>
  <strong>Afbeelding:</strong><br>
  <%= image_tag @blog.blog_image %>
</p>
<br>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
</div>