<%= simple_form_for @work, html: { :multipart => true } do |f| %>
	<%= f.input :title %>
	<%= f.input :description %>
	<%= f.input :category_id, collection: @categories, as: :select, prompt: "Please select" %>
	<h3 id="photos">Photos</h3>
	<%= f.simple_fields_for :photos do |photo| %>
		<%= render 'photo_fields', :f => photo %>
	<% end %>
	<div class="links">
		<%= link_to_add_association 'add photo', f, :photos %>
	</div>
	<br>
	<div class="actions">
		<%= f.button :submit, :disable_with => 'Please wait ...' %>
	</div>
<% end %>

<!-- select_tag(:category_id, options_for_select(@categories), :prompt => "Please select")  -->