<div class="container">
<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @work.title %>
</p>

<p>
	<strong>Description:</strong>
	<%= @work.description %>
</p>

<p>
	<strong>Category:</strong>
	<%= @work.category.name %>
</p>

<p>
	<strong>Photos:</strong>
	<% for photo in @work.photos %>
		<%= image_tag photo.image.url(:thumb) %>
	<% end %>
</p>

<br>
<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
</div>