<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">Jeroen Degrijse</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden"><a href="#page-top"></a></li>
				<li><a class="page-scroll" href="#services" data-target="#services">Services</a></li>
				<li><a class="page-scroll" href="#portfolio" data-target="#portfolio">Portfolio</a></li>
				<li><a class="page-scroll" href="#blog" data-target="#blog">Blog</a></li>
				<li><a class="page-scroll" href="#contact" data-target="#contact">About</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<!-- Header -->
<header data-stellar-background-ratio="0.5">
		<div class="container">
				<div class="intro-text">
						<div class="intro-lead-in">Meester in de beeldhouwkunst</div>
						<div class="intro-heading">Jeroen Degrijse</div>
						<a href="#services" class="page-scroll btn btn-xl">Neem een kijkje</a>
				</div>
		</div>
</header>
<!-- Services Section pencil-square-o lightbulb-o gavel -->
<section id="services">
		<div class="container">
				<div class="row">
						<div class="col-lg-12 text-center">
								<h2 class="section-heading">Services</h2>
								<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
						</div>
				</div>
				<div class="row text-center">
						<div class="col-md-4">
								<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
								</span>
								<h4 class="service-heading">Jeroen</h4>
								<p class="text-muted">Jeroen Degrijse werkt vanuit de menselijke figuur. In de overtuiging dat niets hedendaagser is dan het menselijk lichaam zelf, probeert Jeroen vat te krijgen om de complexiteit van dat lichaam.<br>
								De figuur observerend, registreert Jeroen niet louter. Op eigenzinnige wijze evoceert hij de gelaagdheid aan emoties die in een fragiel lichaam, een subtiele beweging schuilgaan. Als meester in de Beeldende Kunst is Jeroen Degrijse vertrouwd met een scala aan technieken en materialen zoals polyster, brons, keramiek.<br>
								Het meeste voeling heeft hij echter met klei waarmee hij de expressieve, barokke kracht en ogenschijnlijke eeuwigheidswaarde van de mens toont , maar zo ook het vergankelijke van de menselijke figuur blootlegt.</p>
						</div>
						<div class="col-md-4">
								<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
								</span>
								<h4 class="service-heading">Mijn werk</h4>
								<p class="text-muted">De beeldhouwkunst kent een lange traditie. Toch weet Jeroen zichzelf via zijn impressionistische toets uit te drukken met het menselijk lichaam als ultieme exponent van de moderne kunstbeweging als leidraad. Tijdens een maandenlang werkproces probeert hij zo gevat mogelijk de karakters van zijn modellen weer te geven, waardoor de sculpturen meer worden dan een anatomische studie.
								Drang om te creëren, onstopbare ideeënstromen, flarden die door het hoofd spoken en eisen om op papier te worden neergezet. De levenslange dwangmatige ingreep van de geest op het lichaam van de kunstenaar.</p>
						</div>
						<div class="col-md-4">
								<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-book fa-stack-1x fa-inverse"></i>
								</span>
								<h4 class="service-heading">Privélessen</h4>
								<p class="text-muted">Jeroen verzorgt sinds een aantal jaar privélessen voor particulieren en groepen. Deze lessen zijn aangepast aan het niveau van de deelnemers en de gewenste technieken en materialen. Beeldhouwlessen in verschillende materialen, teken-en schilderlessen behoren tot de mogelijkheden. <a class="page-scroll" href="#contact">Contacteer mij voor meer info</a></p>
						</div>
				</div>
		</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
		<div class="container">
				<div class="row">
						<div class="col-lg-12 text-center">
								<h2 class="section-heading">Portfolio</h2>
								<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
						</div>
				</div>
				<div class="row">
					<% @works.order(created_at: :desc).each do |work| %>
						<div class="col-md-4 col-sm-6 portfolio-item">
								<a href="#portfolioModal<%= work.id %>" class="portfolio-link" data-toggle="modal">
										<div class="portfolio-hover">
												<div class="portfolio-hover-content">
														<i class="fa fa-plus fa-3x"></i>
												</div>
										</div>
										<%= image_tag(work.photos.first.image.url(:medium), :class => "img-responsive") %>
								</a>
								<div class="portfolio-caption">
										<h4><%= work.title %></h4>
										<p class="text-muted"><%= work.category.name %></p>
								</div>
						</div>
					<% end %>
				</div>
		</div>
</section>

<!-- Blog Section -->
<section id="blog">
		<div class="container">
				<div class="row">
						<div class="col-lg-12 text-center">
								<h2 class="section-heading">Blog</h2>
								<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
						</div>
				</div>
				<div class="row">
						<div class="col-lg-12">
								<ul class="timeline">
									<% @blogs.order("blog_date desc").limit(5).each do |blog| %>
										<li>
												<div class="timeline-image">
														<%= image_tag(blog.blog_image.url(:medium), :class => "img-circle img-responsive") %>
												</div>
												<div class="timeline-panel">
														<div class="timeline-heading">
																<h4><%= l blog.blog_date, format: :long %></h4>
																<h4 class="subheading"><%= blog.blog_title %></h4>
														</div>
														<div class="timeline-body">
																<%= simple_format(blog.blog_text, class: 'text-muted') %>
														</div>
												</div>
										</li>
									<% end %>
										<li class="timeline-inverted">
												<div class="timeline-image">
														<h4>Be Part <br>Of Our <br>Story!</h4>
												</div>
										</li>
								</ul>
						</div>
				</div>
		</div>
</section>

<section id="contact">
		<div class="container">
				<div class="row">
						<div class="col-lg-12 text-center">
								<h2 class="section-heading">About</h2>
								<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
						</div>
				</div>
				<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="info">
								<h3>Jeroen Degrijse</h3>
								<ul>
									<li>Meester in de Beeldende Kunst<br>
										Specifiek; Beeldhouwkunst<br>
										Koninklijke Academie voor Schone Kunsten - Antwerpen</li>
									<li>Aggregaatsopleiding</li>
									<li>Initiële lerarenopleiding</li>
									<li>Prijs Theodoor Van Lerius (Beeldhouwkunst academiejaar 2005-2006)</li>
									<li>Tentoonstelling in de Belgische Ambassade te Nederland, Den Haag</li>
									<li>Prijs “gezichtspunt – SABAM” Beeldhouwwerk</li>
									<li>Tentoonstelling EnFlammé Roeselare 2008</li>
									<li>Tentoonstelling Radio Klara in de stad (Izegem) 2008</li>
								</ul>
								<ul class="fa-ul buttons">
										<li><i class="fa-li fa fa-envelope-o fa-lg"></i> 
											<%= mail_to "info@jeroendegrijse.be" %>
										</li>
										<li><span><i class="fa-li fa fa-phone fa-lg"></i> 0477 21 69 86</span></li>
								</ul>								
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
								<form name="sentMessage" id="contactForm" novalidate>
									<div class="form-group">
											<input type="text" class="form-control" placeholder="Je naam *" id="name" required data-validation-required-message="Vul je naam in.">
											<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
											<input type="email" class="form-control" placeholder="Jouw e-mail *" id="email" required data-validation-required-message="Vul je e-mailadres in.">
											<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
											<textarea class="form-control" placeholder="Laat je boodschap achter *" id="message" required data-validation-required-message="Vul je boodschap in."></textarea>
											<p class="help-block text-danger"></p>
									</div>
									<div class="clearfix"></div>
									<div class="">
											<div id="success"></div>
											<button type="submit" class="btn btn-lg">Verstuur</button>
									</div>
								</form>
						</div>
				</div>
		</div>
</section>

<footer>
		<div class="container">
				<div class="row">
						<div class="col-md-4">
								<span class="copyright">Copyright &copy; Jeroen Degrijse 2015</span>
						</div>
						<div class="col-md-4"></div>
						<div class="col-md-4">
								<ul class="list-inline social-buttons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
						</div>
				</div>
		</div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<% @works.each do |work| %>
	<div class="portfolio-modal modal fade" id="portfolioModal<%= work.id %>" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
					<div class="close-modal" data-dismiss="modal">
							<div class="lr">
									<div class="rl">
									</div>
							</div>
					</div>
					<div class="container">
							<div class="row">
									<div class="col-lg-8 col-lg-offset-2">
											<div class="modal-body">
													<!-- Project Details Go Here -->
													<h2><%= work.title %></h2>

													<div class="carousel">
														<div class="cycle-slideshow" data-cycle-next=".right" data-cycle-prev=".left" data-cycle-timeout="0">
														<% work.photos.each do |photo| %>
															<%= image_tag(photo.image.url(:large), :class => "img-responsive img-centered") %>
														<% end %>
														</div>
														<a href="#" class="left controls" role="button"><i class="fa fa-chevron-left fa-3x"></i></a>
														<a href="#" class="right controls" role="button"><i class="fa fa-chevron-right fa-3x"></i></a>
													</div>

													<p><%= work.description %></p>
													<ul class="list-inline">
															<li>Datum: July 2014 => nodig?</li>
															<li>Client: Round Icons => nodig?</li>
															<li>Categorie: <%= work.category.name %></li>
													</ul>
													<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Sluit Project</button>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
<% end %>
